.header__logo{
  max-width: 100%;
  display: flex;
  margin: 34px auto 0;
}

@media screen and (width<=768px) {
  .header__logo{
    max-width: 70%;
    display: flex;
    margin: 34px auto 0;
  }
  }
