.intro {
  /* margin: 0 0 0 140px; */
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.intro__title {
  font-size: 54px;
  font-family: "inter";
  font-weight: 900;
  margin: 0;
}

.intro__quote {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 295px;
}

.intro__quote-paragraph {
  font-size: 24px;
  font-family: "inter";
  font-weight: 400;
  margin: 0;
}

.intro__quote-autor {
  position: absolute;
  top: calc(80%);
  align-self: end;
  margin: 0;
}

.intro__paragraph {
  font-size: 16px;
  font-family: "inter";
  font-weight: 400;
  padding-right: 295px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 16px;
  }
}

@media screen and (max-width: 734px) {
  .intro {
    margin: 0 24px 0 24px;
    max-width: 100%;
  }

  .intro__quote {
    padding: 0;
  }

  .intro__paragraph {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    margin: 0 16px 0 16px;
    max-width: 100%;
  }

  .intro__title {
    font-size: 32px;
  }

  .intro__quote {
    padding: 0;
    display: block;
  }

  .intro__quote-autor {
    position: relative;
    text-align: end;
  }

  .intro__paragraph {
    padding: 0;
  }
}
